*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #294297;

    margin-top: 38px;
}

.box-cadastro{
    display: flex;
    flex-direction: column;
    gap: 41px;

    margin-top: 20px;
    padding: 30px;
    background: rgba(41, 66, 151, 0.23);
    border-radius: 20px;
}

.box-cadastro div{
    display: flex;
    flex-direction: column;
}

label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;

}

input{
    width: 729px;
    border-radius: 12px;
    background: #FFFFFF;
    height: 50px;
    border: none;
}

button{
    background: none;
    border: none;

    background: rgba(240, 205, 18, 0.87);
    border-radius: 40px;

    padding: 15px;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    
    color: #FFFFFF;
    
}